.vs/TakeASeat/v15/.suo
TakeASeat/TakeASeat.Android/bin/Debug/TakeASeat.Android.dll
TakeASeat/TakeASeat.Android/bin/Debug/TakeASeat.Android.dll.mdb
TakeASeat/TakeASeat.Android/bin/Debug/TakeASeat.Android.pdb
TakeASeat/TakeASeat.Android/obj/Debug/TakeASeat.Android.dll
TakeASeat/TakeASeat.Android/obj/Debug/TakeASeat.Android.pdb
TakeASeat/TakeASeat.Android/obj/Debug/TakeASeat.Droid.C_.Users.Aseyori.Desktop.TakeASeat.TakeASeat.TakeASeat.MainPage.xaml.g.cs
TakeASeat/TakeASeat.Android/obj/Debug/TakeASeat.Droid.MainPage.xaml.g.cs
TakeASeat/TakeASeat.Android/obj/Debug/android/assets/TakeASeat.Android.dll
TakeASeat/TakeASeat.Android/obj/Debug/android/assets/TakeASeat.Android.dll.mdb
TakeASeat/TakeASeat.Android/obj/Debug/linkdst/TakeASeat.Android.dll
TakeASeat/TakeASeat.Android/obj/Debug/linkdst/TakeASeat.Android.dll.mdb
TakeASeat/TakeASeat.Android/obj/Debug/linkdst/TakeASeat.Android.pdb
TakeASeat/TakeASeat.Android/obj/Debug/linksrc/TakeASeat.Android.dll
TakeASeat/TakeASeat.Android/obj/Debug/linksrc/TakeASeat.Android.dll.mdb
TakeASeat/TakeASeat.iOS/obj/iPhone/Debug/TakeASeat.iOS.C_.Users.Aseyori.Desktop.TakeASeat.TakeASeat.TakeASeat.MainPage.xaml.g.cs